

<div class=" card-header">
      <h3 class=" card-title">
        <i class="fa fa-exclamation" aria-hidden="true"></i>System Informtion...
      </h3>
</div>


<div>
<table class="table table-striped tablefont container table table-bordered" style="overflow: hidden; margin-top: 5%;">
    <tr>
        <th> CRM Number</th>
        <th> {{tableData.CRM_Number}}</th>
    </tr>
    <tr>
        <th>Agent Registered</th>
        <th>{{tableData.Agent_Registered}}</th>
    </tr>
    <tr>
        <th>Agent Quarantine</th>
        <th>{{tableData.Agent_Quarantine}}</th>
    </tr>
    <tr>
        <th>Agent CRM Verified</th>
        <th>{{tableData.Agent_CRM_Verified}}</th>
    </tr>
    <tr>
        <th>Model Number</th>
        <th>{{tableData.Model_Number}}</th>
    </tr>
    <tr>
        <th>Serial Number</th>
        <th>{{tableData.Serial_Number}}</th>
    </tr>
    <tr>
        <th>System Type</th>
        <th>{{tableData.System_Type}}</th>
    </tr>
</table>
</div>

<div>
    <a type="button" class="bbtn btn-outline-dark btn-outline-dark" style="margin: 20px" routerLink=''>Back</a>
</div>